@tailwind base;
@tailwind components;
@tailwind utilities;





#running {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}

.clip-text-video__text {
  display: flex;
  flex-direction: column;
  color:#DCDCDC;
  overflow: hidden;
  background:#000;
  mix-blend-mode: multiply;
}

.clip-text-video__text p {
  line-height: 1;
  font-weight: 900;

}


// for scroll sheet 

@layer base {
  @font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url("/fonts/Roboto-Regular.woff2") format("woff2"),
      url("/fonts/Roboto-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "DM Sans";
    font-weight: 400;
    src: url("/fonts/DMSans-Regular.woff2") format("woff2"),
      url("/fonts/DMSans-Regular.woff") format("woff");
  }
  @font-face {
    font-family: "Times";
    font-weight: 400;
    src: url("/fonts/unicode.timesu.woff2") format("woff2"),
      url("/fonts/unicode.timesu.woff") format("woff");
  }

  @font-face {
    font-family: "Zuume";
    font-weight: 900;
    src: url("Zuume ExtraBold.woff2") format("woff2"),
      url("Zuume ExtraBold.woff") format("woff");
  }
 
  
}
