@tailwind base;
html {
  scroll-behavior: smooth;
}

@tailwind components;
@tailwind utilities;

/* Loading arches */
:root {
  --sp: 2.5s; /* change speed */
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

.content {
  width: 50vmin;
  height: 50vmin;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.65);
  animation: spin-all calc(var(--sp) * 2) linear 0s infinite;
}

.circle {
  --in: 80%;
  --ar: #ff9800;
  --dt: #ffea34;
  --shadow: drop-shadow(0vmin 0vmin 0.5vmin #000)
    drop-shadow(0vmin 1vmin 0.5vmin #0004);
  --cross: linear-gradient(
      0deg,
      #fff0 calc(50% - 2px),
      #000 calc(50% - 1px) calc(50% + 1px),
      #fff0 calc(50% + 2px)
    ),
    linear-gradient(
      90deg,
      #fff0 calc(50% - 2px),
      #000 calc(50% - 1px) calc(50% + 1px),
      #fff0 calc(50% + 2px)
    );
  border: 6vmin solid var(--ar);
  width: var(--in);
  height: var(--in);
  border-radius: 100%;
  position: absolute;
  box-sizing: border-box;
  border-top-color: #fff0;
  border-left-color: #fff0;
  top: 15vmin;
  right: -10vmin;
  animation: spin-bot var(--sp) ease 0s infinite;
  background-image: var(--cross),
    radial-gradient(var(--dt) 5.5vmin, #fff0 calc(5.5vmin + 1px));
  background-repeat: no-repeat;
  background-size: 3vmin 1vmin, 1vmin 3vmin, 100% 100%;
  background-position: center center;
  filter: var(--shadow);
}

.circle:nth-child(2) {
  --in: 60%;
  top: -2vmin;
  animation: spin-top var(--sp) ease 0s infinite;
  transform: rotate(-45deg);
  background-image: var(--cross),
    radial-gradient(var(--dt) 1.25vmin, #fff0 calc(1.25vmin + 1px));
  right: -4vmin;
  filter: hue-rotate(10deg) var(--shadow);
  background-size: 1.4vmin 1vmin, 1vmin 1.4vmin, 100% 100%;
}

.circle:nth-child(3) {
  --in: 100%;
  top: -5vmin;
  left: -13vmin;
  transform: rotate(175deg);
  animation: spin-left var(--sp) ease calc(var(--sp) / 4) infinite;
  background-image: var(--cross),
    radial-gradient(var(--dt) 9vmin, #fff0 calc(9vmin + 1px));
  filter: hue-rotate(20deg) var(--shadow);
  background-size: 5vmin 1vmin, 1vmin 5vmin, 100% 100%;
}

.circle:nth-child(4) {
  --in: 60%;
  top: 35vmin;
  left: -6vmin;
  transform: rotate(-280deg);
  animation: spin-last var(--sp) ease
    calc(calc(calc(var(--sp) / 4) + var(--sp)) * -1) infinite;
  background-image: var(--cross),
    radial-gradient(var(--dt) 2.5vmin, #fff0 calc(2.5vmin + 1px));
  filter: hue-rotate(30deg) var(--shadow);
  background-size: 2vmin 1vmin, 1vmin 2vmin, 100% 100%;
}

@keyframes spin-all {
  0% {
    transform: rotate(0deg) scale(0.65);
  }
  100% {
    transform: rotate(360deg) scale(0.65);
  }
}

@keyframes spin-top {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(315deg);
  }
}

@keyframes spin-bot {
  0%,
  35% {
    transform: rotate(0deg);
  }
  80%,
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes spin-left {
  0%,
  35% {
    transform: rotate(175deg);
  }
  80%,
  100% {
    transform: rotate(535deg);
  }
}

@keyframes spin-last {
  0%,
  10% {
    transform: rotate(-280deg);
  }
  90%,
  100% {
    transform: rotate(-640deg);
  }
}

/* Text loading */

.elem {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-size: 100%;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

.loading-container {
  width: 100%;
  max-width: 520px;
  text-align: center;
  color: #fff;
  position: relative;
  margin: 0 32px;
}

.loading-container:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  animation: movingLine 2.4s infinite ease-in-out;
}

@keyframes movingLine {
  0% {
    opacity: 0;
    width: 0;
  }

  33.3%,
  66% {
    opacity: 0.8;
    width: 100%;
  }

  85% {
    width: 0;
    left: initial;
    right: 0;
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 0;
  }
}

.loading-text {
  font-size: 5vw;
  line-height: 64px;
  letter-spacing: 10px;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-evenly;
}

.loading-text span {
  animation: moveLetters 2.4s infinite ease-in-out;
  transform: translatex(0);
  position: relative;
  display: inline-block;
  opacity: 0;
  text-shadow: 0px 2px 10px rgba(46, 74, 81, 0.3);
}

.loading-text span:nth-child(1) {
  animation-delay: 0.1s;
}

.loading-text span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-text span:nth-child(3) {
  animation-delay: 0.3s;
}

.loading-text span:nth-child(4) {
  animation-delay: 0.4s;
}

.loading-text span:nth-child(5) {
  animation-delay: 0.5s;
}

.loading-text span:nth-child(6) {
  animation-delay: 0.6s;
}

.loading-text span:nth-child(7) {
  animation-delay: 0.7s;
}

@keyframes moveLetters {
  0% {
    transform: translateX(-15vw);
    opacity: 0;
  }

  33.3%,
  66% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(15vw);
    opacity: 0;
  }
}

/* Hexagonal loader */

/* trie loader */

// Center & dribbble

/* Swing Loader */

@keyframes animate-size {
}

#running {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}

.clip-text-video__text {
  display: flex;
  flex-direction: column;
  color: #dcdcdc;
  overflow: hidden;
  background: #000;
  mix-blend-mode: multiply;
}

.clip-text-video__text p {
  line-height: 1;
  font-weight: 900;
}

//hero
.overlay {
  width: 100vw;
  height: 100vh;
  color: #fff;
  display: flex;
  clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
}
.col {
  width: 100%;
  padding: 1em;
}

h6 {
  margin: 0;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  font-weight: 900;
  line-height: 0.8;
}

// for navbar

#navh1 {
  position: absolute;
}

.toggle-btn {
  position: fixed;
  z-index: 600; /* Set a high z-index to ensure it's on top of other elements */
}

span.one {
  position: fixed;
  height: 3px;
}

span.two {
  position: fixed;
  height: 3px;
  margin-top: 7px;
  margin-left: 10px;
}

.menu {
  position: fixed;
  background: #000;
  top: -100%;
  z-index: 500; /* Set a high z-index to ensure it's on top of other elements */
}

.some-element {
  font-family: "Helvetica Now Display", sans-serif;
  font-weight: 700; /* Use the appropriate font weight for your use case */
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#494a4a",endColorstr="#2f2f2f",GradientType=1);
  overflow: hidden;
}
.preloader__wrapp {
  position: relative;
  width: 400px;
  height: 400px;
}

.preloader__one,
.preloader__two {
  position: absolute;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.preloader__one {
  animation: spin1 2.3s infinite linear;
  -webkit-animation: spin1 2.3s infinite linear;
}
.preloader__two {
  display: block;
  animation: spin2 2.3s infinite linear;
  -webkit-animation: spin2 2.3s infinite linear;
  transform: rotate(45deg);
}

.onee,
.five {
  border-top: 3px solid #3391d6;
}
.twoo,
.sixt {
  border-right: 3px solid #3391d6;
}
.three,
.seven {
  border-bottom: 3px solid #3391d6;
}
.four,
.eight {
  border-left: 3px solid #3391d6;
}

.onee {
  top: -200px;
}
.twoo {
  right: -200px;
}
.three {
  bottom: -200px;
}
.four {
  left: -200px;
}

.five {
  right: -141px;
  bottom: 141px;
}
.sixt {
  left: 141px;
  top: 141px;
}
.seven {
  left: -141px;
  top: 141px;
}
.eight {
  right: 141px;
  top: -141px;
}

@keyframes spin1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

  20% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  20% {
    opacity: 0.5;
  }
}
@keyframes spin2 {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(405deg);
  }

  20% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  20% {
    opacity: 0.5;
  }
}

:root {
  --white: #fff;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-1500px);
    transform: translateX(-1500px);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-1500px);
    transform: translateX(-1500px);
  }
}

.rlr-logos-slider {
  padding: var(--spacing-2) 0;
}

.rlr-logos-slider__title {
  color: var(--gray-06);
  margin-bottom: var(--spacing-8);
  text-align: center;
}

.rlr-logos-slider__items {
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
}

.rlr-logos-slider__items:after,
.rlr-logos-slider__items:before {
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  width: 400px;
  z-index: 2;
}

.rlr-logos-slider__itemss:after {
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(var(--white)),
    to(#fff0)
  );
  background: -o-linear-gradient(right, var(--white), #fff0);
  background: linear-gradient(to left, var(--white), #fff0);
  top: 0;
}

.rlr-logos-slider__itemss:before {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--white)),
    to(#fff0)
  );
  background: -o-linear-gradient(left, var(--white), #fff0);
  background: linear-gradient(to right, var(--white), #fff0);
  left: 0;
  top: 0;
}

.rlr-logos-slider__items .slide-track {
  -webkit-animation: scroll 25s linear infinite;
  animation: scroll 25s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 3000px;
}

.rlr-logos-slider__items .slide {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  width: 300px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* workspagebutton */

.uibutton {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coolBeans {
  color: white;
  font-family: roboto;
  font-weight: 100;
  overflow: hidden;
  padding: 0.8rem 2.3rem;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}

.coolBeans::after {
  background-color: gray;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}

.coolBeans:hover::after {
  transform: translate(0, 0);
}

.coolBeans:hover {
  border: 2px solid transparent;
  color: black;
  transform: scale(1.05);
  will-change: transform;
}

@layer base {
  @font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url("/fonts/Roboto-Regular.woff2") format("woff2"),
      url("/fonts/Roboto-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "DM Sans";
    font-weight: 400;
    src: url("/fonts/DMSans-Regular.woff2") format("woff2"),
      url("/fonts/DMSans-Regular.woff") format("woff");
  }
  @font-face {
    font-family: "Times";
    font-weight: 400;
    src: url("/fonts/unicode.timesu.woff2") format("woff2"),
      url("/fonts/unicode.timesu.woff") format("woff");
  }

  @font-face {
    font-family: "Zuume";
    font-weight: 900;
    src: url("Zuume ExtraBold.woff2") format("woff2"),
      url("Zuume ExtraBold.woff") format("woff");
  }

  @font-face {
    font-family: "Aeonic";
    font-weight: 900;
    src: url("/fonts/AeonikTRIAL-Bold.woff2") format("woff2"),
      url("/fonts/AeonikTRIAL-Bold.woff") format("woff");
  }

  @font-face {
    font-family: "Helvetica Now Display";
    font-weight: 400;
    src: url("/fonts/HelveticaNowDisplay-Regular.5e3876e.woff2") format("woff2");
  }

  @font-face {
    font-family: "Helvetica Now Display";
    font-weight: 500; /* Medium */
    src: url("/fonts/HelveticaNowDisplay-Medium.cfbcf6c.woff2") format("woff2");
  }

  @font-face {
    font-family: "Helvetica Now Display";
    font-weight: 700;
    src: url("/fonts/HelveticaNowDisplay-Bold.f0b7416.woff2") format("woff2");
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.5s ease-in-out forwards;
}

