@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes animate-size {
  0% {
    transform: scale(1); /* Initial size */
  }
  50% {
    transform: scale(1.5); /* Increased size */
  }
  100% {
    transform: scale(1); /* Back to initial size */
  }
}




#running {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}

.clip-text-video__text {
  display: flex;
  flex-direction: column;
  color:#DCDCDC;
  overflow: hidden;
  background:#000;
  mix-blend-mode: multiply;
}

.clip-text-video__text p {
  line-height: 1;
  font-weight: 900;

}







//hero
.overlay{
width:100vw;
height:100vh;
color:#fff;
display:flex;
clip-path:polygon(0% 100%,100% 100%,100% 0%,0% 0%)

}
.col{
width:100%;
padding:1em;
}

h6{
margin:0;
clip-path:polygon(0% 0%,100% 0%,100% 0%,0% 0%);
font-weight:900;
line-height:0.8;
}


// for navbar





.toggle-btn {
     position: fixed;
     margin: 1.4em;
     padding: 1em;
     width: 40px;
     height: 12px;
     right: 0;
     z-index: 1;
}

span.one {
     position: absolute;
     width: 40px;
     height: 2px;
     background: #fff;
}

span.two {
     position: absolute;
     width: 40px;
     height: 2px;
     background: #fff;
     margin-top: 12px;
}

.menu {
     z-index: 0;
     position: absolute;
     background: #101010;
     height: 100vh;
     width: 100%;
     top: -100%;
}

.data {
     padding: 8em 0 0 2em;
     text-align: left;
}









@layer base {
  @font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url("/fonts/Roboto-Regular.woff2") format("woff2"),
      url("/fonts/Roboto-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "DM Sans";
    font-weight: 400;
    src: url("/fonts/DMSans-Regular.woff2") format("woff2"),
      url("/fonts/DMSans-Regular.woff") format("woff");
  }
  @font-face {
    font-family: "Times";
    font-weight: 400;
    src: url("/fonts/unicode.timesu.woff2") format("woff2"),
      url("/fonts/unicode.timesu.woff") format("woff");
  }

  @font-face {
    font-family: "Zuume";
    font-weight: 900;
    src: url("Zuume ExtraBold.woff2") format("woff2"),
      url("Zuume ExtraBold.woff") format("woff");
  }

  @font-face {
  font-family: 'Aeonic';
  font-weight: 900;
  src: url("/fonts/AeonikTRIAL-Bold.woff2") format("woff2"),
      url("/fonts/AeonikTRIAL-Bold.woff") format("woff");
  

}


  
}
